/* cores do texto #fdf2fd */
/* cor de fundo  #1f051f */
/* botao primario #dd22dd */
/* botao secundario #120312 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,800;0,900;1,700;1,800;1,900&display=swap'); font-family: 'Kanit', sans-serif; */
* {
  color: black;
}

body {
  background-color: #686868;
  height: 100vh;
  margin: 0 auto;
}



header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

header h1 {
  margin-left: 30vh;
  color: #dd22dd;
  font-family: 'Poppins';
}

header h1::after {
  content: "";
  display: block;
  border: 3px solid black;
}


header nav ul {
  display: flex;
  list-style: none;

}

header nav ul li {
  margin-left: 10px;
}

header a {
  list-style: none;
  text-decoration: none;
  color: #f2f2f2;
}

#produtos img {
  border-radius: 10px;
}

#produtos .pc-branco {
  width: 100px;
}


/* tela preta das ofertas */
#ofertas .container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
}


#ofertas h2 {
  font-family: 'Kanit', sans-serif;
  color: #f2f2f2;
  filter: drop-shadow(8px 10px 10px rgb(0, 0, 0));
}

#ofertas .monitor {
  width: 480px;
  margin-left: 10px;
  background-color: #282828;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 4px 10px 4px white;
  transition: width 300ms;
}
#ofertas .monitor:hover {
  width: 500px;
}

#ofertas h2 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 50px;
}

#ofertas .monitor img {
  margin-right: 15px;
  filter: drop-shadow(8px 10px 10px rgb(0, 0, 0));
  

}

#ofertas .monitor h4 {
  font-size: 24px;
  color: #fdf2fd;
  font-family: 'Poppins';
}

#ofertas .monitor p{
  color: #fdf2fd;
  font-family: 'Poppins';
 
  
}
#ofertas .teclado {
  width: 225px;
  height: 255px;
}



#ofertas .mouse-preto {
  width: 210px;
  filter: drop-shadow(8px 10px 10px rgb(0, 0, 0));

}

#ofertas .mouse {
  width: 480px;
  margin-left: 10px;
  background-color: #282828;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 4px 10px 4px white;
  transition: width 300ms;
}

#ofertas .mouse:hover {
 width: 500px;
}

#ofertas .mouse h4 {
  font-size: 24px;
  color: #fdf2fd;
  font-family: 'Poppins';
  filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
  padding: 10px;
}

#ofertas .mouse span {
  color: #dd22dd;
}

#ofertas .mouse p{
  color: #fdf2fd;
  font-family: 'Poppins';
 
  
}
#ofertas .mouse p:hover{
  
}

#ofertas .fone {
  width: 480px;
  margin-left: 10px;
  background-color: #282828;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 4px 10px 4px white;
  transition: width 300ms;
}

#ofertas .fone:hover{
  width: 500px;
}

#ofertas .fone h4 {
  font-size: 24px;
  color: #fdf2fd;
  font-family: 'Poppins';
  filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
  padding: 10px;
}

#ofertas .fone span {
  color: #dd22dd;
}

#ofertas .fone p{
  color: #fdf2fd;
  font-family: 'Poppins';
 
  
}
#ofertas .controle {
  width: 480px;
  margin-left: 10px;
  background-color: #282828;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 4px 10px 4px white;
  transition: width 300ms;
}

#ofertas .controle:hover{
  width: 500px;
}

#ofertas .controle h4 {
  font-size: 24px;
  color: #fdf2fd;
  font-family: 'Poppins';
  filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
  padding: 10px;
}
#ofertas .controle span {
  color: #dd22dd;
}

#ofertas .controle p {
  color: #fdf2fd;
  font-family: 'Poppins';
  display: flex;
}
